body,
html {
    height: 100%;
}

body {
    font-size: 64px;
    color: #fff;
    text-align: center;
    margin: 0;
    font-family: 'Direct Gothic';
}

#overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

#question_count {
    text-align: right;
}

#countdown {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    font-size: 0.5em;
}

.answers {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    counter-reset: section;                    /* Set the section counter to 0 */
}

.answers .answer {
    -webkit-box-flex: 1 1 1em;
    -webkit-flex: 1 1 1em;
        -ms-flex: 1 1 1em;
            flex: 1 1 1em;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0.1em;
    padding: 0.1em;
    padding-left: 0.5em;
    position: relative;
    font-weight: lighter;
}

.answers .answer::before {
    counter-increment: section;                /* Increment the section counter*/
    content: counter(section); /* Display the counter */
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.5em;
    padding: 0.3em;
    background-color: rgba(255, 255, 255, 0.5);
}

.answers .answer.active {
    border-left: 5px solid #4CAF50;
    color: #4CAF50;
    font-weight: 600;
}

#feedback {
}

.question {
}

#content_posters {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.content-poster-img {
    height: 5em;
    width: auto;
}

.content-poster {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 1em;
    background-color: rgba(0, 0, 0, 0.6);
}

.content-poster.active {
    border-left: 5px solid #4CAF50;
    color: #4CAF50;
}
